* {
  box-sizing: border-box;
}
/* element selectior*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #035fbb;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

nav li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
}

iframe{
  width: 64%;
  height: 370px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 4px 8px gainsboro;
  border: none;
}

footer {
  background-color: #0694d6;
  padding: 20px;
  color: white;
  text-align: center;
  margin-top: 9px;
}

main {
  overflow: auto;
  padding: 15px;
}

/*grouping selector*/
h2,
h3 {
  color: #0694d6;
}

aside {
  text-align: center;
  width: 35%;
  float: left;
}

/*class selector*/
.jumbotron {
  background-color: #0694d6;
  font-size: 20px;
  padding: 8px;
  text-align: center;
  color: white;
}

.card {
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 4px 8px gainsboro;
}

.content {
  width: 64%;
  height: 424px;
  float: right;
}

.text-bold {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.label {
  background-color: #0694d6;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.feature_img {
  border-radius: 5%;
}

@media screen and (max-width: 922px) {
  .content,
  aside {
    width: 100%;
  }
}
